option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: true
    DB_URL: edtracker-db.crik4ws8mf4u.us-west-2.rds.amazonaws.com:5432
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /: "client/dist"
  
commands:
  01_make_executable:
    command: chmod +x node_modules/.bin/*
    ignoreErrors: true 