option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: true
    # DB_URL: postgresql://postgress:teacher2coder@edtracker-db.crik4ws8mf4u.us-west-2.rds.amazonaws.com:5432/edutracker-db
    # AUTH_SECRET: thequickbrownfoxjumpedoverthelazydog
    # SKIP_SEEDING: false